[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
plotly = "*"
statsmodels = "*"
nbformat = "*"
ipykernel = "*"
scikit-learn = "*"
ipywidgets = "*"
sweetviz = "*"
flask = "*"
pydantic = "*"
flask-pydantic = "*"
pyarrow = "*"
optuna = "*"
numpy = "==1.24"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
